* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  /* background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");

  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}


header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  cursor: pointer;
}
header ul li{
  list-style: none;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}
header ul li {
  opacity: 0.7;
}
header ul li:hover{
  opacity: 1;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}
.date{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date p{
  font-size: 0.7em;
  color: grey;
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
/*front page */
.front-page{
  max-width: 500px;
  width: 100%;
  margin: auto;
  /* border: 10px solid #ccc; */
  padding: 30px;
}
.front-page h1{
  letter-spacing: 2px;
  color: #fff;
  font-family: "McLaren", cursive;
  text-align: center;
  font-size: 3.1em;;
  margin: 5px 0;
}

.front-page h2{
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0;
}
.front-page .row{
  width: 100%;
  margin: 10px 0;
}
.front-page input,
.front-page button{
  width: 100%;
  height: 40px;
  padding:  0 5px;
}
.front-page label{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.front-page textarea{
  width: 100%;
  resize: none;
  padding: 0 5px;
}
.front-page button{
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  color: rgb(7,25,63);
}
@media (max-width: 500px){
  .front-page{
    padding: 15px;
    border: 5px solid #ccc;
  }
}
/* login register */

.login-page{
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}
.login input,
.register input{
  margin-bottom: 15px;
}
.login,
.register{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f5ba13;;
}
.login-page h2,
.login-page h3{
  color: #25242187;
}
.login-page h3{
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}
.login-page p{
margin: 10px 0;
color: white;
}
.login-page span:hover{
color: grey;
cursor: pointer;
}

.edit-area h2{
  letter-spacing: 2px;
  color:#f5ba13;
  font-family: "McLaren", cursive;
  text-align: center;
  font-size: 3.1em;;
  margin: 5px 0;
}
/* .notes-page header{
  max-width: 1920px;
  min-height: 100px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }*/
